/* alert-styles.css */
.dialog-pane {
    -fx-background-color: #2a2a2a; /* Background color of the dialog pane */
}

.dialog-pane .button-bar .button {
    -fx-background-color: #2a2a2a; /* Button background color */
    -fx-text-fill: white; /* Button text color */
    -fx-border-color: white;
}

.dialog-pane .content.label {
    -fx-font-size: 12px;
    -fx-text-fill: white; /* Text color for all labels inside the dialog pane */
}

.dialog-pane .content.text-field {
    -fx-prompt-text-fill: white;
}

.dialog-pane .header-panel {
    -fx-background-color: #2a2a2a; /* Background color of the header */
}

.dialog-pane .header-panel .label {
    -fx-text-fill: white; /* Text color of the header title */
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.dialog-pane .header-panel .label.header-title {
    -fx-background-color: #2a2a2a; /* Background color of the header title */
    -fx-text-fill: white; /* Text color of the header title */
}
