/* styles.css */

/* Style for the background of the scene */
.root {
    -fx-background-image: url("../Images/registerMenuBackground.png");
    -fx-background-size: cover;
}

/* Style for buttons */
/* Style for buttons */
.button {
    -fx-background-color: #2a2a2a; /* Light gray background */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-text-fill: lightblue; /* White text color */
    -fx-font-size: 16px; /* Font size */
    -fx-font-family: "Castellar";
    -fx-padding: 10 20 10 20; /* Padding */
    -fx-border-width: 2px; /* Border width */
    -fx-border-color: lightblue; /* Light blue border color */
    -fx-border-radius: 5px; /* Rounded corners for the border */
}

.text-field {
    -fx-background-color: #34527e; /* Background color */
    -fx-border-color: lightblue; /* Border color */
    -fx-font-family: "Castellar";
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 5px; /* Padding inside the text field */
    -fx-font-size: 14px; /* Font size */
    -fx-text-fill: lightblue; /* Text color */
}

.label{
    -fx-background-color: #789e9e; /* Light gray background */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-text-fill: white; /* White text color */
    -fx-font-family: "Castellar";
    -fx-font-size: 16px; /* Font size */
    -fx-padding: 2.5 5 2.5 5; /* Padding */
    -fx-border-width: 2px; /* Border width */
    -fx-border-color: lightgray; /* Light blue border color */
    -fx-border-radius: 5px; /* Rounded corners for the border */
}


